<!-- users panel -->
<section class="rounded-3 shadow p-3 alg-panel">
  <div class="p-5 rounded-3 bg-light text-dark">
    <div class="table-responsive">
      <table class="table table-bordered alg-panel1-table1">
        <thead>
          <tr class="fw-bold fs-6 text-gray-800">
            <th>name</th>
            <th>role</th>
            <th>city</th>
            <th>age</th>
            <th>date</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody id="customTableTestContainer"></tbody>
      </table>
    </div>
  </div>
</section>
