<!-- users panel -->
<section class="bg-secondary rounded-3 shadow p-3 row m-0">
  <div class="col-12 col-lg-6 p-3">
    <div class="p-5 rounded-3 bg-light text-dark">
      <div class="table-responsive">
        <table
          class="table table-bordered alg-panel2-table1"
          data-page-length="7"
        >
          <thead>
            <tr class="fw-bold fs-6 text-gray-800">
              <th>name</th>
              <th>role</th>
              <th>city</th>
              <th>age</th>
              <th>date</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody id="customTableTestContainer2"></tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 p-3">
    <div class="p-5 rounded-3 bg-light text-dark">
      <div class="table-responsive">
        <table
          class="table table-bordered alg-panel2-table2"
          data-page-length="7"
        >
          <thead>
            <tr class="fw-bold fs-6 text-gray-800">
              <th>name</th>
              <th>role</th>
              <th>city</th>
              <th>age</th>
              <th>date</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody id="customTableTestContainer3"></tbody>
        </table>
      </div>
    </div>
  </div>
</section>
